<!DOCTYPE html>
<html>
<head>
  <title>Fale Conosco</title>
 
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'styles', media: 'all' %>
  <%= javascript_include_tag 'application' %>
 
</head>
<body>
  
  <h1>Fale Conosco</h1>

  <p>Informações de contato.</p>
<%= yield %>
    
</body>
</html>
